.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pokemons-block {
    width: 800px;
    gap: 20px;
    background-color: rgba(255, 236, 236, 0.92);
    padding: 20px;
    margin: 0 auto;
}

.pokemons {
    width: 330px;
    height: 150px;
    background: rgba(66, 163, 171, 0.8);
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

img {
    width: 100px;
}
